/* || IMPORTING REQUIRED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* 
TODO:

1. FIXME: Desktop view Design
2. FIXME: Mobile view Design ( View the optimal layout depending on their device's screen size)
3. FIXME: See hover and focus states for interactive elements
*/

/* || RESET (REMOVING DEFAULT STYLES) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.875rem;
}
body {
  background-color: hsl(30, 38%, 92%);
  display: grid;
  place-content: center;
  min-height: 100vh;
}
main {
  background-color: hsl(0, 0%, 100%);
  width: 22rem;
  border-radius: 1rem;
}
.font-fraunces {
  font-family: "Fraunces", serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.container.img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-color: #cccccc;
  background-image: url("./images/image-product-mobile.jpg");
  height: 14.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-text {
  padding: 0 1rem 0 1rem;
}
.text {
  margin-top: 1rem;
}
.text.faded.header {
  letter-spacing: 0.3rem;
}
.text.bold {
  color: hsl(212, 21%, 14%);
  font-size: 2.1rem;
  margin-top: 0.7rem;
}
.text.faded {
  color: hsl(228, 12%, 48%);
}
.text.product-details {
  line-height: 1.65rem;
}
.text.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  margin: 1.5rem 0 0 0;
  display: flex;
}
.old-price {
  color: hsl(228, 12%, 48%);
  margin: auto 0 auto 1.5rem;
}
button {
  display: block;
  margin: 1rem auto 2rem auto;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
  width: 95%;
  border: none;
  border-radius: 0.6rem;
  background-color: hsl(158, 36%, 37%);
}
button:focus,
button:hover {
  background-color: hsl(158, 37%, 19%);
  cursor: pointer;
}
.cart-img {
  margin-right: 1rem;
}
footer {
  padding-top: 2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* || STYLES FOR DESKTOP VIEW  */
@media (min-width: 1000px) {
  main {
    display: flex;
    width: 41.5rem;
  }
  .container.img {
    background-image: url("./images/image-product-desktop.jpg");
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    width: 50%;
  }
  .container-text {
    width: 50%;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  .text.header {
    margin-top: 2.5rem !important;
  }
  .text {
    margin-top: 1.5rem !important;
  }
  button {
    margin: 2rem auto 0.8rem auto;
  }
}
